@{
    ViewData["Title"] = "FreeFire";
}

<div class="container" style="font-family: 'Barlow' , sans-serif;">
    <div class="row">
        <div class="col" style="color: white">
            <img src="https://cdn1.codashop.com/S/content/common/images/mno/freefire_new_640x241.jpg" class="img-fluid py-2">
            <h5><b>Free Fire</b></h5>
            <div class="text-justify" style=" font-size:15px">
                <p>
                    Harga sudah termasuk PPN. 
                </p>
                <p>
                    Beli Diamond Free Fire (FF) hanya dalam hitungan detik! Cukup masukkan Player ID Free Fire Kamu, pilih jumlah Diamond yang Kamu inginkan, selesaikan pembayaran, dan Diamond tersebut akan langsung masuk ke akun Free Fire Kamu.
                </p>
                <p>
                    Tanpa registrasi atau login, Kamu bisa langsung top up Diamond Free Fire hari ini dengan mudah di Codashop! Harga sudah termasuk PPN
                    Download dan mainkan Free Fire sekarang!
                </p>
            </div>
        </div>

        @model OkOkLa.Shop.Models.TransactionModel
        <div class="col-8">
            <form asp-controller="Home" asp-action="InsertFreeFire" class="m-2">
                <div class="form-group mb-3 p-3 border rounded" style="background-color: white">
                    <label asp-for="Akungame_Id">Masukkan ID Akun Game</label>
                    <input asp-for="Akungame_Id" type="text" class="form-control" id="Akungame_Id" placeholder="Masukkan GAME ID">
                </div>

                <div class="form-group mb-3 p-3 border rounded" style="background-color: white">
                    <label asp-for="Game_Money">Pilih Nominal Top Up</label>
                    <select asp-for="Game_Money" id="Game_Money" class="form-control">
                        <option value="50 Diamonds">50 Diamonds</option>
                        <option value="140 Diamonds">140 Diamonds</option>
                        <option value="350 Diamonds">350 Diamonds</option>
                        <option value="720 Diamonds">720 Diamonds</option>
                        <option value="1450 Diamonds">1450 Diamonds</option>
                        <option value="2180 Diamonds">2180 Diamonds</option>
                        <option value="7290 Diamonds">7290 Diamonds</option>
                    </select>
                </div>

                <div class="form-group mb-3 p-3 border rounded" style="background-color: white">
                    <label>Pilih Pembayaran</label>

                    <div class="container border rounded" style="margin-bottom: 10px;height: 55px;padding: 7px">
                        <div class="form-check">
                            <input asp-for="Metode_Pembayaran" type="radio" value="Gopay" id="Metode_Pembayaran" class="form-check-input" style="margin-top:10px;margin-left:-20px;">
                            <label asp-for="Metode_Pembayaran" class="form-check-label">
                                <img src="https://antinomi.org/wp-content/uploads/2022/03/logo-gopay-vector.png" class="img-fluid" style="width:110px;">
                            </label>
                        </div>
                    </div>

                    <div class="container border rounded" style="margin-bottom: 10px;height: 55px;padding: 10px">
                        <div class="form-check">
                            <input asp-for="Metode_Pembayaran" type="radio" value="OVO" id="Metode_Pembayaran" class="form-check-input" style="margin-top:7px;">
                            <label asp-for="Metode_Pembayaran" class="form-check-label">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Logo_ovo_purple.svg/320px-Logo_ovo_purple.svg.png" class="img-fluid" style="width:100px;">
                            </label>
                        </div>
                    </div>

                    <div class="container border rounded" style="margin-bottom: 10px;height: 55px;padding: 10px">
                        <div class="form-check">
                            <input asp-for="Metode_Pembayaran" type="radio" value="Dana" id="Metode_Pembayaran" class="form-check-input" style="margin-top:7px;">
                            <label asp-for="Metode_Pembayaran" class="form-check-label">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Logo_dana_blue.svg/2560px-Logo_dana_blue.svg.png" class="img-fluid" style="width:115px;">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3 p-3 border rounded" style="background-color: white">
                    <label asp-for="Email">Masukkan Email Anda</label>
                    <input asp-for="Email" type="text" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Alamat E-mail">
                </div>

                <button type="submit" class="btn btn-primary" onclick="return confirm('Apakah data yang diinputkan benar?')">Beli</button>
            </form>
        </div>
    </div>
</div>