@{
    ViewData["Title"] = "Home Page";
}

<p class="p-2">Time: @(DateTime.Now)</p>
<div class="container">
    <h3 class=" pb-1" style="font-family: 'League Spartan',sans-serif;font-weight:800;font-size:34px">DAFTAR GAME</h3>
    <div class="row" style="font-family: 'League Spartan',sans-serif;font-weight:600;font-size:17px;">
        <div class="col">
            <a style="text-decoration:none;color:black" asp-area=" " asp-controller="Home" asp-action="MobileLegends">
                <div class="card" style="width: 12rem;height:16.4rem;border-color: #d4d3d2;">
                    <img class="card-img-top" src="https://img.utdstc.com/icon/78d/66f/78d66ff1ab1bd23f7fd6d9cdb93854881cb8f0b69e8a301faaf4f4eab058d19e:200" alt="Card image cap">
                    <div class="card-body border-0" style="text-align:center;background-color: #f5d45d">
                        <p class="card-title">Mobile Legends</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" asp-area=" " asp-controller="Home" asp-action="Valorant">
                <div class="card" style="width: 12rem;height:16.4rem; border-color: #d4d3d2;">
                    <img class="card-img-top" src="https://seeklogo.com/images/V/valorant-logo-FAB2CA0E55-seeklogo.com.png" alt="Card image cap">
                    <div class="card-body" style="text-align:center;background-color: #f5d45d">
                        <p class="card-title">Valorant</p>
                    </div>
                </div>
            </a>
            
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" asp-area=" " asp-controller="Home" asp-action="FreeFire">
                <div class="card" style="width: 12rem;height:16.4rem;border-color: #d4d3d2;">
                    <img class="card-img-top" src="https://play-lh.googleusercontent.com/Iehzq0fyCTsAMX7_XEUEy8w8RRcgVNmX2UPDVDkqK8ezhl-4qOBOwm7tb7qe7XGYLqQ" alt="Card image cap">
                    <div class="card-body" style="text-align:center;background-color: #f5d45d">
                        <p class="card-title">Free Fire</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" asp-area=" " asp-controller="Home" asp-action="LoL">
                <div class="card" style="width: 12rem;height:16.4rem;border-color: #d4d3d2;">
                    <img class="card-img-top" src="https://play-lh.googleusercontent.com/4k3lWNl97TCMVWI8xiu7hQmwBWkB3zK65SBjhv5yvuuC4Pty2RXVBQ1VkQ3YoDClzw" alt="Card image cap">
                    <div class="card-body" style="text-align:center;background-color: #f5d45d;height:10px;">
                        <p class="card-title">League of Legends: Wild Rift</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a style="text-decoration:none;color:black" asp-area=" " asp-controller="Home" asp-action="GenshinImpact">
                <div class="card" style="width: 12rem;height:16.4rem;border-color: #d4d3d2;">
                    <img class="card-img-top" src="https://s.kaskus.id/images/2020/09/29/10904805_20200929022633.png" alt="Card image cap">
                    <div class="card-body" style="text-align:center;background-color: #f5d45d">
                        <p class="card-title">Genshin Impact</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

